<section class="main__container main__container--background-image">
  <h1 class="main__title main__title--padded">Practice Pizza - About Us</h1>
  <p class="main__text main__text--aligned-left">Our passion is pizza.</p>
  <p class="main__text main__text--aligned-left">Our mission is to make the art of cooking pizza as pain-free as possible, and to bring fellow pizza-fans together by sharing recipes and favourites.</p>
  <p class="main__text main__text--aligned-left">Browse through our <a class="main__link" href="/pizza">public collection of pizzas</a> and try to re-create like a pro, or <a class="main__link" href="/addPizza">submit your own</a> to share your masterpiece and get some friendly feedback.</p>
</section>
