<section class="main__container">
  <h1 class="main__title">Practice Pizza - Home Page</h1>
  <p class="main__text">Welcome to the Practice Pizza Web Portal.</p>
  <p class="main__text">Research New Recipes, or Add Your Own!</p>
  <img class="main__image" src="./images/pizza_prep.jpg" alt="Pizza Preparation">
</section>
