<section class="main__container main__container--background-image">
  <h1 class="main__title">Practice Pizza - Add Your Own Recipe!</h1>
  <p class="main__text">On this page you can add your own pizza ideas.</p>
  <p class="main__text">Just fill in the following form.</p>
  <form class="form__container" id="pizza" action="addPizza" method="post">
    <input class="form__input" type="text" name="name" value="" placeholder="Pizza Name" maxlength="40" required/>
    <input class="form__input" type="text" name="description" value="" placeholder="Description" maxlength="250" required/>
    <textarea class="form__textarea" type="text" name="ingredients" value="" placeholder="Ingredients (up to 500 characters)" required rows="8" maxlength="500" required></textarea>
    <textarea class="form__textarea" type="text" name="instructions" value="" placeholder="Instructions (up to 3500 characters)" required rows="8" maxlength="3500" required></textarea>
    <input class="form__input" type="text" name="author" value="" placeholder="Your Name" maxlength="20" required/>
    <input class="form__button" type="submit" value="SUBMIT"/>
  </form>
</section>
