<footer class="footer">
  <div class="footer__container">
    <p class="footer__footnote">© 2019 PracticePizza</p>
    <p class="footer__footnote">Site built by <a class="footer__link" target="_blank" href="https://github.com/artysidorenko">pjsmooth</a></p>
    <p class="footer__footnote">Image credits:
      <ul class="footer__list">
        <li class="footer__footnote">Welcome photo created by
        <a class="footer__link" target="_blank" href="https://www.freepik.com/free-photos-vectors/background">Senivpetro - Freepik.com</a></li>
        <li class="footer__footnote">Background graphic originally provided by <a class="footer__link" target="_blank" href="https://pixabay.com/en/kitchen-the-device-cooking-baking-2640067/">pixabay</a></li>
      </ul>
    </p>
  </div>
</footer>
