<header class="navbar">
  <div class="navbar__container">
    <nav class="navbar__nav" role="navigation">
      <ul class="navbar__list">
        <li class="navbar__item"><img class="navbar__logo" src="/images/pizza_640.png" alt="pizza slice" /></li>
        <li class="navbar__item">
          <a class="navbar__link navbar__link--active" href="/">Home</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/about">About</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/pizza">Pizzas</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/addPizza">Contribute</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
